.heading-1{
    background-color: antiquewhite;
    height: 480px;
    /* background-image: url(./images/pngwing\ 10.png); */
    background-repeat: no-repeat;
    padding: 80px;
    display: flex;
    align-items: center;

}
.photo-1{
    display: flex;
    padding: 130px;
    width: 100px;
    height: 500px;
}
.heading-2{
    font-size: 70px;
}
.btn-1{
   background-color: #E55473;
   border-radius: 5px;
   padding:10px 30px ;
   
   
}
.banner{
    padding: 15px 130px;
    height: 641px;
}
.layer-1{
    text-align: center;
    color: black;
    font-size: 40;
    padding: 100px;
}