.heading-1{
    background-color: antiquewhite;
    height: 550px;


}
.heading-2{
    color: #272727;
    font-size: 50px;

}
.frist-div{
    padding: 130px;
}
.btn-1{
   background-color: #E55473;
   border-radius: 5px;
   padding:10px 30px ;
   
}